.egglistContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .egglistContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
